<!-- TODO: Describe what does this file do and how -->
<!-- TODO: Renaming to base_admin etc. -->
{% extends "adminview.html" %}

{% block content %}
<h2>
    {% if junior == 1 %} Add Junior Driver {% else %} Add Driver {% endif %}
</h2>
<form method="post" action="{{ url_for('adddriver2', junior=junior) }}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
        </div>
        <div class="form-group col-md-6">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname" name="surname" value="{{ surname }}">
        </div>
    </div>

    <div class="form-group">
        <label for="car">Assign a Car:</label>
        <select class="form-control" id="car" name="car">
            <option value="">Select a car...</option>
            {% for car in existing_cars %}
                <option value="{{ car[0] }}" {% if car[0] == car %}selected{% endif %}>{{ car[1] }} ({{ car[2] }})</option>
            {% endfor %}
        </select>
    </div>

    {% if junior == 1 %}
        <div class="form-group">
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth">
        </div>

        <div class="form-group" id="caregiver_field">
            <label for="caregiver">Caregiver:</label>
            <select class="form-control" id="caregiver" name="caregiver">
                <option value="">Select a caregiver...</option>
                {% for caregiver in eligible_caregivers %}
                    <option value="{{ caregiver[0] }}">{{ caregiver[1] }} {{ caregiver[2] }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Add Driver</button>

    {% if message %}
        <div class="alert {% if 'Error: ' in message %}alert-danger{% else %}alert-success{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endif %}

</form>
{% endblock %}
