{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="display-4 text-center mb-4">Current Competition Courses</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Course</th>
                                <th>Name</th>
                                <th>Map Diagram</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in course_list %}
                                <tr>
                                    {% for field in course %}
                                        {% if loop.index0 == 2 %}
                                            <td>
                                                <img src="/static/{{ field }}" alt="Course Map" class="img-fluid rounded" style="max-width: 100%; height: auto;">
                                            </td>
                                        {% else %}
                                            <td class="align-middle">{{ field }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
