{% extends "base.html" %}
{% block content %}

<h2>Course List</h2>
<h3>Current competition courses</h3>

<!-- Code to display list of courses -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Map diagram</th>
            </tr>
        </thead>
        <tbody>
            {% for course in course_list %}
                <tr>
                    {% for field in course %}
                        {% if loop.index0 == 2 %}
                            <td>
                                <img src="static/{{ field }}" alt="Course Map" class="img-fluid" style="max-width: 100%; height: auto;">
                            </td>
                        {% else %}
                            <td class="align-middle">{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
