<!-- TODO: Describe what does this file do and how -->
<!-- TODO: filename reformat with _. -->
{% extends "base.html" %}
{% block content %}
    <!-- driver_list is the variable passed in containing the list of drivers -->
    <h2>Driver List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Driver ID</th>
                <th>Name</th>
                <th>Car Model</th>
                <th>Drive Class</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in driver_list %}
                    <tr {% if driver[5] is not none %}class="table-warning"{% endif %}>
                    <td>{{ driver[0] }}</td>
                    <td><a href="{{ url_for('driversrundetailspage', driver_id=driver[0]) }}">{{ driver[1] }} {{ driver[2] }}</a></td>
                    <td>{{ driver[3] }}</td>
                    <td>{{ driver[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
