{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="display-4 text-center mb-4">Driver List Detail</h2>
                <form method="post" action="{{ url_for('drivers_run_details') }}">
                    <div class="form-group">
                        <label for="driverSelect">Select a Driver:</label>
                        <select class="form-control" id="driverSelect" name="selected_driver">
                            <option value="">Select a driver...</option>
                            {% for driver in driver_list %}
                                <option value="{{ driver[0] }}" {% if selected_driver and selected_driver[0] == driver[0] %}selected{% endif %}>
                                    {{ driver[1] }} {{ driver[2] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">View Details</button>
                    {% if selected_driver %}
                        <input type="hidden" name="driver_id" value="{{ selected_driver[0][0] }}">
                    {% endif %}
                </form>

                {% if selected_driver %}
                    <h2 class="mt-4">Run details on driver: {{ selected_driver[0][0] }} - {{ selected_driver[0][1] }} {{ selected_driver[0][2] }}</h2>
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Course Name</th>
                                    <th>Run Number</th>
                                    <th>Car Model</th>
                                    <th>Drive Class</th>
                                    <th>Cones Hit</th>
                                    <th>Wrong Direction</th>
                                    <th>Seconds</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in selected_driver %}
                                    <tr>
                                        {% for field in run[3:] %}
                                            <td class="align-middle">{{ field }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
