<!-- TODO: Describe what does this file do and how -->
<!-- TODO: filename reformat with _. -->
{% extends "adminview.html" %}

{% block content %}
<h2>Edit Run</h2>

<form method="post" action="{{ url_for('editruns') }}">
    <div class="form-group">
        <label for="driverSelect">Select a Driver:</label>
        <select class="form-control" id="driverSelect" name="selected_driver">
            <option value="">Select a driver...</option>
            {% for driver in driver_list %}
                <option value="{{ driver[0] }}" {% if selected_driver and selected_driver[0] == driver[0] %}selected{% endif %}>
                    {{ driver[1] }} {{ driver[2] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="courseSelect">Select a Course:</label>
        <select class="form-control" id="courseSelect" name="selected_course">
            <option value="">Select a course...</option>
            {% for course in course_list %}
                <option value="{{ course[0] }}">
                    {{ course[0] }} - {{course[1] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">View Runs</button>
</form>

<form method="post" action="{{ url_for('editrun', driver_id=run_result[0], course_id=run_result[3], run_num=run_result[5]) }}">
    <h4 class="text-center">User ID: {{ run_result[0] }} | Name: {{ run_result[1] }} {{ run_result[2] }} | Course: {{ run_result[3] }} - {{ run_result[4] }} | Run Number: {{ run_result[5] }} | Model: {{ run_result[6] }} | Drive Class: {{ run_result[7] }}</h4>
    <form method="post" action="{{ url_for('editrun', driver_id=run_result[0], course_id=run_result[3], run_num=run_result[5]) }}">
        <div class="form-group">
            <label for="cones">Cones (Integer):</label>
            <input type="number" class="form-control" id="cones" name="cones" value="{{ run_result[8] }}" step="1" required>
        </div>
        <div class="form-group">
            <label for="wd">WD (1 or 0):</label>
            <select class="form-control" id="wd" name="wd" required>
                <option value="1" {% if run_result[9] == 1 %}selected{% endif %}>1</option>
                <option value="0" {% if run_result[9] == 0 %}selected{% endif %}>0</option>
            </select>
        </div>
        <div class="form-group">
            <label for="seconds">Seconds (Number):</label>
            <input type="number" class="form-control" id="seconds" name="seconds" value="{{ run_result[10] }}" step="any" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</form>


</{% endblock %}
