{% extends "base.html" %}

{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="display-4 text-center mb-4">Top 5 Drivers</h2>
                <div id="myHBarPlot" style="width:100%; max-width:800px; margin: 0 auto;"></div>
            </div>
        </div>
    </div>

    <script>
        const driver_names = {{ driver_names | safe }};
        const overall_results = {{ overall_results | safe }};

        const data = [
            {
                y: driver_names.map(name => name + ' '),
                x: overall_results,
                type: "bar",
                orientation: "h",
                marker: { color: "dodgerblue" },
                textposition: 'outside'
            }
        ];

        const layout = {
            yaxis: { autorange: 'reversed', automargin: true },
            xaxis: { title: "Overall Result (s)" },
            title: "Top 5 Drivers"
        };

        Plotly.newPlot("myHBarPlot", data, layout);
    </script>
{% endblock %}
